
.box {
    width: 90px;
    float: left;
    margin: 16px;
    height: 90px;
    padding: 10px;
    background: #239395;
    color: #FDEDEB;
    font-size: large;
    line-height: 30px;
    box-shadow: 0px 0px 7px 5px #513030;
    border-radius: 12px;
}

button {
    height: 45px;
    font-size: large;
    border: 2px solid #42433B;

}